* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: max-content;
    padding-bottom: 3px;
    background-image: url(./images/skeletback.png);
    background-size: 16px;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
nav {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;
}

.navbox {
    background:#2d1f28ad;
    box-shadow: 1px 2px 1px rgba(37, 43, 40, 0.83), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.38);
    padding: 7px 8px 9px 8px;
    height: 29px;
    display: flex;
    gap:4px;
    
}
a {
    color: white;
    line-height: 75%;
}
a:hover {
    text-shadow: 0px 0px 4px white;
}
.navbox p {
    color: #ccc;
    line-height: 75%;
}
#skull {
    filter: invert(24%);
}
.navbox img {
    height: 150%;
    margin-top: -2px;
    width: auto;
    filter: brightness(10);
}
.navbox img:hover {
    cursor:pointer;
}
.options {
    background: #151F2C;
    justify-self: flex-end !important;
}
body {
    background-color: #1F1F1E;
    height: 100%;
    z-index: 0;
}
.background {
    background-image: url(./images/ok.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#main {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    background-color: #1e1c2d96;
    border-left: 1px solid black ;
    border-right:1px solid black ;
}
h1 {
font-family: Bebas Neue;
font-size: 96px;
text-align: center;
color: #ccc;
}
#logo-name img {
    filter: brightness(10);
    height: 110px;
    width: 156px;
    padding-left: 2%;
    box-sizing: content-box;
}
#logo-name {
    padding-top: 80px;
}
.skeletonborder {
    border: 7px solid transparent;
    border-image: url(./images/bordskelet.png) 8 round;
    border-image-outset: 5px 5px 5px 5px;
}
.textarea {
    display: flex;
    background-color: rgba(0, 0, 0, 0.36);
    max-width: 960px;
    min-height: 500px;
}
.textarea h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 149.25%;
    color: #FFF;
    padding-bottom:10px;
}
.textarea p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 149.25%;
    color: #FFF;
}
.textarea img {
    height: 487px;
}
.mainarea {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
.sorry {
    height: min-content;
    max-width: 317.5px;
    background-color: rgba(0, 0, 0, 0.36);
}
.sorry p,
.videocontainer p{
    font-family: Arial;
    font-size: 14px;
    color: white;
    margin-bottom: 14px;
}
.videocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.36);
    padding: 10px;
}
#email {
    height: 32px;
}
#submit {
    background-color: rgb(238, 255, 0);
    border:1px solid black;
    padding: 4px;
    border-radius: 3px;
}
.gridarea {
    margin: 0 140px;
    display: flex;
    flex-wrap: wrap;
}
.gridarea img{
height: 500px;
width: 320px;
}
iframe {
    width: 700px;
    height:400px;
}
.empty p {
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    text-shadow: 0px 3px 4px rgb(0, 0, 0);
}
.empty {
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (max-width: 1240px) {
.gridarea {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
@media (max-width: 960px) {
.textarea {
    flex-direction: column-reverse;
}
.textarea img {
max-width: 358px;
}
.videocontainer {
    width: 100%;
    padding: 0;
}
iframe {
    width: 100%;
    height:40vw;
}
}